ul {
  padding: 0;
  margin: 0;
}
.logo {
  font-size: 30px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(63, 63, 63);
  color: white;
  height: 75px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 75%;
  height: 100%;
}

.nav-links :hover{
  color: white;
}

.Home,
.Profile,
.Write {
  text-decoration: none;
  color: white;
  font-size: 20px;

  /* padding: 10px 20px; */
  cursor: pointer;
  margin: auto 25px;
}

.Home :hover {
  border-bottom: 5px solid red;
}
.Profile :hover {
  border-bottom: 5px solid yellow;
}
.Write :hover {
  border-bottom: 5px solid green;
}


.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 780px) {
  .navbar-isMobile-true {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(63, 63, 63);
    color: white;
    height: 75px;
    margin-bottom: 300px;
  }
  .logo{
    display: flex;
    position: absolute;
  }

  .nav-links{
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style-type: none;
    background-color: rgb(87, 82, 82);
    top: 75px;
    transition: all 05s ease-out;
    width: 100%;
  }

  .Home,
  .Profile,
  .Write{
    color: white;
    /* border: 1px solid pink; */
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5 ease;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    top: 7px;
    right: 25px;
  }

  .hamberger-menu,
  .close-menu {
    color: whitesmoke;
    font-size: 30px;
    border: none;
  }

  .signOut {
    margin: auto;
  }

}

.footer-container {
  background-color: #333;
  width: 100%;
  height: auto;
  margin-top: 6%;
  text-align: center;
  padding: 50px;
  
}

.like {
  cursor: pointer;
}

.color-black {
  color: black;
}

.likeLength {
  color: black;
}

.likeLength:hover{
 text-decoration: underline;
}

.text-read {
  font-size: clamp(16px, 2.5vw, 20px);
  line-height: auto; 
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}

.title-read {
  line-height: auto;
  font-family: "Times New Roman", Times, serif;
  font-size: clamp(25px, 2.5vw, 50px);
  font-weight: 1000;
}
.ownerPost-read {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  margin-left: 16px;
}

.background-color {
  background-color:  lightgrey;
}

.background-color-read-content {
  background-color: lightgrey;
}

.background-color-read-component {
  background-color: white;
}

.blackground-color-white{
  background-color: rgb(255, 255, 255);
}

.blackground-color-header{
  background-color: white;
}

pre {
  white-space:pre-wrap;
}

.size-icon {
  font-size: 50px;
}

.cascading-right {
  margin-right: -50px;
}

/* @media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
} */

.backdropFilter {
  backdrop-filter: blur(30px); 
}

.maxwith {
  width: auto;
  height: auto;
  border: 1px solid black;
  
}

.font {
  font-family: "Times New Roman", Times, serif;
}

.word-wrap {
  word-wrap: break-word;
}

.title-css {
  text-decoration: none;
  color: black;
}

.title-css :hover{
  text-decoration: underline;
}

.banner-title {
  text-decoration: none;
  color: white;
}

.banner-title :hover{
  text-decoration: underline;
  color: white;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  padding:16px;
  margin-top: -30px;
  color: white;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #000000;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}